textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  outline: none;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 100%;
  border: none;
  outline: none;
  background: #EEE;
}

body {
  font-face: Arial, Helvetica, sans-serif;
}
