textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  outline: none;
}

button {
  margin: 10px 0;
  padding: 10px;
  font-size: 100%;
  border: none;
  outline: none;
  background: #EEE;
}

h1, h2 {
  margin: 10px 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
